*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: gilroy;
  color: aliceblue;
}
html,body{
    height: 100%; 
    width: 100%;
}
#main{
height: 100%;
width: 100%;
background-color: black;
}
#nav{
    padding: 0 50px;
    height: 110px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#navprt2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 50%;
}
#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}
#nav h5{
    font-size: 14px;
    font-weight: 600;
}
#nav img{
    height: 65px;
    background-color: white;
}
#line{
    width: 90px;
    height: 3px;
    background-color: rgb(55, 190, 31);
}
#nav i{
    margin-right: 5px;
}
#content{
     height: 84%;
     position: relative;
    width: 100%;
    /* background-color: rgb(30, 141, 30); */
    display: flex;
    justify-content: space-between;
}
#left{
width: 37%;
height: 100%;
background-color: black;
padding: 140px 90px;
}
#right{
width: 37%;
height: 100%;
/* background-color: rgb(155, 239, 154); */
padding: 280px 100px;
}
#center{
width: 26%;
height: 100%;
/* background-color: rgb(130, 203, 231); */
padding-top: 30px;

}
#left h1{
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}

#left h1 span{
    color: rgb(59, 240, 59);
    font-weight: 600;
}
#left p{
font-size: 14px;
width: 80%;
margin-bottom: 30px;
/* padding: 30px 3px 40px; */
line-height: 20px;
}
#left button{
    background-color: rgb(60, 201, 60);
    padding: 20px 28px;
    border-radius: 50px;
    font: bold;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;

}
#left button i{
    margin-right: 10px;
}
#center2{
    height: 78%;
    background-color: rgb(226, 226, 26);
    width: 100%;
    border-top-right-radius: 10000px;
    border-top-left-radius: 10000px;
    background-image:url(https://w0.peakpx.com/wallpaper/915/1021/HD-wallpaper-monster-energy-green-logo-green-brickwall-monster-energy-logo-drinks-brands-monster-energy-neon-logo-monster-energy.jpg);
    background-size:170%;
    background-position: 50% 50%;
    filter: blur(3px);

}
#content>img{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#rightelem{
    width: 400px;
    /* background-color: red; */
}
#elem1{
display: flex;
 justify-content: space-between;
align-items: center; 
height: 50px;
/* background-color: brown; */
border-bottom: 2px solid white;
} 
#elem1 h1{
font-size: 25px;
font-weight: 600;
}
#elem1 i{

}
#elem2 h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom:15px ;
    padding-top: 15px;
}
#elem2 p{
    font-size:15px ;
    width: 90%;
    opacity: 0.6;

}